<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ pageTitle }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openLanguagePopover($event)">
        <ion-icon name="more" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <b>{{ 'Home.text1' | translate }}</b><br>
  <ion-label color="primary">{{ 'Home.description' | translate }}</ion-label><br><br>
  <ion-button (click)="showAlert()">{{ 'Home.btn' | translate }}</ion-button>
  <br><br>

  <b>{{ 'Home.text2' | translate }}</b><br>
  <ion-text color="secondary" [translate]="'Home.name'" [translateParams]="params"></ion-text>
  <br><br>

  <b>{{ 'Home.text3' | translate }}</b><br>
  <ion-text color="tertiary" [innerHTML]="'Home.withcode' | translate"></ion-text>

</ion-content>